#!/bin/bash

# Update yum
sudo yum update -y

# create swap file
sudo /bin/dd if=/dev/zero of=/var/swap.1 bs=1M count=1024
sudo chmod 0600 /var/swap.1
sudo /sbin/mkswap /var/swap.1
sudo /sbin/swapon /var/swap.1

# Install Cloudwatch agent
sudo yum install amazon-cloudwatch-agent -y
sudo amazon-linux-extras install -y collectd
sudo aws s3 cp s3://{{ s3_deployment_bucket }}/{{ service }}/cloudwatch/cloudwatch-agent-config.json /opt/aws/amazon-cloudwatch-agent/bin/config.json
sudo /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a fetch-config -m ec2 -s -c file:/opt/aws/amazon-cloudwatch-agent/bin/config.json

# Install PostgreSQL
sudo amazon-linux-extras enable postgresql14
sudo yum install postgresql-server -y

# Stop PostgreSQL service
sudo systemctl stop postgresql


# Remove existing PostgreSQL data
sudo rm -rf /var/lib/postgresql/14/main

# Initialize replica from primary server backup
sudo -u postgres pg_basebackup -h primary_server_ip_address -D /var/lib/postgresql/14/main -U replication_user -v -P --wal-method=stream

# Configure replica to connect to primary server
sudo sed -i "s/#primary_conninfo = ''/primary_conninfo = 'host=primary_server_ip_address port=5432 user=replication_user password=replication_password application_name=replica_server'/" /etc/postgresql/14/main/postgresql.conf
sudo systemctl restart postgresql

# Enable replication slots
sudo -u postgres psql -c "SELECT * FROM pg_create_physical_replication_slot('replica_slot');"

# Start PostgreSQL service
sudo systemctl start postgresql
