#!/bin/bash

# attach the volume to instance
touch ~/source-detach.log
region="{{region}}"
volumeName="{{ebs_name}}"
TOKEN=$(curl -X PUT "http://169.254.169.254/latest/api/token" -H "X-aws-ec2-metadata-token-ttl-seconds: 21600")
instanceid=$(curl -H "X-aws-ec2-metadata-token: $TOKEN" -v http://169.254.169.254/latest/meta-data/instance-id)
attachedVolume=$(aws ec2 describe-volumes --region $region --filters Name=tag:Name,Values=$volumeName Name=attachment.instance-id,Values=$instanceid --query "Volumes[*].VolumeId" --output text)
if [[ -z "$attachedVolume" ]]; then
  echo "no attached volume found" >> ~/source-detach.log
else
  aws ec2 detach-volume --region $region --volume-id $attachedVolume
  echo "Volume $attachedVolume detached" >> ~/source-detach.log
fi

cat << EOF > ~/source-detach.txt
[status]
finished = true
EOF
