#!/bin/bash

# attach the volume to instance
touch ~/source-attach.log
region="{{region}}"
volumeName="{{ebs_name}}"
TOKEN=$(curl -X PUT "http://169.254.169.254/latest/api/token" -H "X-aws-ec2-metadata-token-ttl-seconds: 21600")
#instanceid=$(curl -s http://169.254.169.254/latest/meta-data/instance-id)
instanceid=$(curl -H "X-aws-ec2-metadata-token: $TOKEN" -v http://169.254.169.254/latest/meta-data/instance-id)
attachedVolume=$(aws ec2 describe-volumes --region $region --filters Name=tag:Name,Values=$volumeName Name=attachment.instance-id,Values=$instanceid --query "Volumes[*].VolumeId" --output text)
if [[ -z "$attachedVolume" ]]; then
  echo "try to mount EBS  $volumeName" >> ~/source-attach.log
  #avzone=$(curl -s http://169.254.169.254/latest/meta-data/placement/availability-zone)
  avzone=$(curl -H "X-aws-ec2-metadata-token: $TOKEN" -v http://169.254.169.254/latest/meta-data/placement/availability-zone)
  ebsvolume=$(aws ec2 describe-volumes --region $region --filters Name=tag:Name,Values=$volumeName Name=availability-zone,Values=$avzone --query "Volumes[*].[VolumeId, State=='available']" --output text  | grep True | awk '{print $1}' | head -n 1)
  if [[ -z "$ebsvolume" ]]; then
    echo "error: no volume with name $volumeName found" >> ~/source-attach.log
    exit 1
  else
    if [ ! -d "/postgres" ]; then
      echo "create postgres mount directory" >> ~/source-attach.log
      sudo mkdir /postgres
    fi
    aws ec2 attach-volume --region $region --volume-id $ebsvolume --instance-id $instanceid --device /dev/sdf
    echo "attach volume $ebsvolume" >> ~/source-attach.log
    sleep 10
    sudo mount /dev/xvdf /postgres
    echo "mount volume" >> ~/source-attach.log
    volumeFormatted=$(sudo file -s /dev/xvdf | grep "filesystem data")
    echo "check drive" >> ~/source-attach.log
    if [[ -z "$volumeFormatted" ]]; then
      echo "format volume $attachedVolume" >> ~/source-attach.log
      sudo mkfs -t xfs /dev/xvdf
      sudo mkdir /postgres/log
      sudo chown -R postgres:postgres /postgres
      sudo chmod -R 0700 /postgres/data
    fi
  fi
else
  echo "Volume $attachedVolume already attached" >> ~/source-attach.log
fi

cat << EOF > /source-attach.txt
[status]
finished = true
EOF
